@font-face{
    font-family: "mine";
    src: url(fonts/Minecraft.ttf)
}
#name {
    font-family: "mine";
    color: antiquewhite;
    background: linear-gradient(to right, #4c50ff 0%, #6BFFDD 100%);
    font-size: xx-large;
}
#email {
    font-family: "mine";
    color: #e8fa6e;
    background: linear-gradient(to right, #ff3631 0%, #4c50ff 100%);
    margin-top: -32px;
    font-size: xx-large;
}
#age {
    font-family: "mine";
    color: #ae00fa;
    background: linear-gradient(to right, #fdff78 0%, #0bff97 100%);
    margin-top: -32px;
    font-size: xx-large;
}
body{
    background: linear-gradient(to right, #57acff 0%, #45ff00 100%);
}
