@font-face{
    font-family: "coder";
    src: url(fonts/CoderCrux.ttf)
}
#boddy {
    font-family: "Ubuntu Mono";
    color: antiquewhite;
    font-size: large;
}
#if {
    font-family: "Ubuntu Mono";
    color: #fa2550;
    font-size: large;
}
body{
    background: linear-gradient(#fa2550, antiquewhite);
}
.indent-1 {float: left;}
.indent-1 section {width: 50%; float: left;}
