.Page {
  display: flex;
  flex: 1;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  border-right-style: dashed;
  border-top: dashed;
  border-bottom: dashed;
  height: 100vh;
}
