.AppContainer {
    display: flex;
    background-color: #a6fde3;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: Gelion, Roboto, SansSerif, serif;
}

.ContentContainer {
    flex-direction: column;
    padding: 8rem;
}

.imageContainer {
    align-self: center;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.image {
    width: 8rem;
    height: 8rem;
    border-radius: 8rem;
    background-image: url("/me.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.name {
    font-family: GelionBold, serif;
    color: black;
}

.buttonGroup {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 10rem;
}

ul {
    text-align: left;
}
ul il {
    text-align: left;
}

a {
    font-family: GelionBold, serif;
    color: #5d8676;
}

p {
    text-align: left;
    flex-direction: row;
    display: flex;
}
span {
    font-family: GelionBoldItalic, serif;
    color: #2b4e46;
}
