.AppContainer {
    display: grid;
    background-color: #a6fde3;
    justify-content: center;
    text-align: center;
    height: 100vh;
    font-family: Gelion, Roboto, SansSerif, serif;
}

.ContentContainer {
    padding: 8rem;
}

.imageContainer {
    align-self: center;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.image {
    width: 8rem;
    height: 8rem;
    border-radius: 8rem;
    background-image: url("https://avatars2.githubusercontent.com/u/37156636?s=460&u=0fbc84dc98c2797a3b2ecac6b4f8663c3d1d1ae9&v=4");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.name {
    font-family: GelionBold, serif;
    color: black;
}

.buttonGroup {
    display: grid;
    grid-gap: 1.4rem;
    grid-template-areas:
        ". whatsapp ."
        "github . twitter"
        "linked . spotify";
    justify-content: center;
    align-items: center;
}
.link {
    color: black;
    justify-self: center;
    text-decoration-line: blink;
}

ul {
    text-align: left;
}
ul li {
    text-align: left;
}

ul li a {
    font-family: GelionBold, serif;
    color: #5d8676;
}

p {
    text-align: left;
    flex-direction: row;
    display: flex;
}
span {
    font-family: GelionBoldItalic, serif;
    color: #2b4e46;
}
