@font-face {
    font-family: "Gelion";
    font-style: normal;
    src: url("fonts/gelion_regular.otf");
}
@font-face {
    font-family: "GelionBold";
    /*font-style: ;*/
    font-weight: bold;
    src: url("fonts/gelion_bold.otf");
}
@font-face {
    font-family: "GelionBoldItalic";
    font-style: italic;
    font-weight: bold;
    src: url("fonts/gelion_bold_italic.otf");
}

body {
    margin: 0;
    font-family: Gelion, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
