.Background {
  background-image: url("https://image.flaticon.com/icons/svg/2282/2282272.svg");
  background-size: 40px;
  background-position: right;
  background-repeat: repeat-x;
  justify-content: space-around;
  /*background-position: center;*/
  background-color: #ffffff28;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
